body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
}

/* Header section */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: black;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  opacity: 0.9;
}

header img {
  height: 50px;
  margin-left: 10px;
  margin-right: auto;
}

nav span a {
  color: seashell;
  text-decoration: underline;
  padding-right: 10px;
}

/* Main section */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 69px;
}

/* Mission */

#mission {
  background-image: url("images/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 1200px;
  margin-bottom: 70px;
  opacity: 0.9;
}

.content {
  background-color: black;
  width: 1200px;
  text-align: center;
}

.content h2, h4 {
  margin: 0;
  padding: 10px;
}


/* Featured Tea */
#featured-tea {
  display: block;
  text-align: center;
  width: 1000px;
  margin-bottom: 70px;
  opacity: 0.9;
}

.featured-tea h2, h4 {
  margin: 0;
  padding: 10px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image img {
  height: 200px;
  width: 300px;
  margin: 15px 15px 0px 15px;
}


/* Locations */
#locations {
  background-image: url("images/img-locations-background.jpg");
  display: block;
  text-align: center;
  width: 1200px;
  height: 500px;
  padding-top: 60px;
  opacity: 1;
}

.locations h2 {
  margin: 0;
}

.addresses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.address {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  margin: 15px 20px;
}

.address p {
  padding: 11px 0;
}

.address h3 {
  padding: 3px 0;
}

/* Contact section */

.contact {
  display: block;
  height: 200px;
  width: 100%;
  text-align: center;
  opacity: 0.9;
}

.contact h2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contact h5 {
  margin: 0;
  padding: 15px;
}

/* Footer section */

footer {
  display: block;
  text-align: left;
  padding-top: 25px;
  opacity: 0.9;
}

footer h5 {
  margin: 0px;
  padding: 0 0 30px 20px;
}
